<br>


<div class="areawhite">

This is more a Timeline 

    "somthing like a public timeline, Mark studies GameA, Nona add a tip 'balahblahabalh' and John reached 10hours milestone on game K" 

    </div>

<!-- Table goes in the document BODY -->

<!--
<table class="gradienttable">

  <tr>
    <th><p>Game</p></th><th><p> Current Students </p></th><th><p> Previous Students</p></th><th><p>Total Completions</p></th>

  </tr>
  <% @games.each do |g| %>
    <tr style="cursor: pointer;" onclick="location.href='/games/<%= g.title %>';">
    <td>
    <%= g.title %>
    </td>
    <td>
    <p>
    <span style="color:red"> <%= g.time / 60 %> mins</span>
    <br>
    <img width='40px' src='../assets/images/clock.png'/>
    </p>
    <p>
    remaining for completion
    </p>
    </td>
    <td>
    <p>
    <%= g.viewed %>
    </p>
    </td>
    <td>
    <p>
    <%= g.completed%>
    </p>
    </td>
    </tr>
  <% end %>
  </table>
  -->



<!--
 </div>
</div>


    <ul>
      < @games.each do |g| %>
	<li>

	<a href="/games/<= g.title %>"> <= g.title %> </a>
	</li>
      < end %>
    </ul>
    -->
 <!-- This goes in the document HEAD so IE7 and IE8 don't cry -->
	<!--[if lt IE 9]>
	<style type="text/css">
		table.gradienttable th {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3e4', endColorstr='#b3c8cc',GradientType=0 );
			position: relative;
			z-index: -1;
		}
		table.gradienttable td {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecda', endColorstr='#ceceb7',GradientType=0 );
			position: relative;
			z-index: -1;
		}
	</style>
	<![endif]-->

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
</style>

